@model Interimkantoor.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EindDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EindDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWerkschoenen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWerkschoenen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBadge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBadge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsKleding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsKleding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AantalPlaatsen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AantalPlaatsen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
